.App{
  min-height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);;
}

.search-form
{
 min-height: 10vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.search-bar
{
 width:50%;
 border: none;
 border-radius: 5px;
 padding: 10px;
}

.search-button
{
 border:none;
 border-radius: 5px;
 padding: 10px 20px;
 background-color: turquoise;
 color:whitesmoke;
 
}

.recipes
{
 display: flex;
 justify-content: space-around;
 flex-wrap:wrap;
}